{% extends 'hf.html' %}
{% load static %}

{% block body %}

  <!-- About Start -->
<div class="container-fluid overflow-hidden py-5" style="padding-top: 90px;"> <!-- Added padding-top here -->
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="RotateMoveLeft">
                    <img src="{% static 'img/top-view-flower-period-related-things.jpg' %}" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h4 class="mb-1 text-primary">About Us</h4>

                <p class="mb-4 mt-4" style="text-align: justify">Our platform is a trusted space dedicated to supporting menstrual, reproductive, and overall health through accessible resources, education, and guidance. We believe that everyone deserves to have control over their health and well-being, free from stigma or barriers. By fostering inclusivity and empowering individuals with knowledge, we aim to create a community where conversations about wellness are open, informed, and compassionate. Together, we’re paving the way for a future that prioritizes care, dignity, and equity for all.</p>
                <a href="#" class="btn btn-primary rounded-pill py-3 px-5">More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->



{% endblock %}