{%  extends 'hf.html'  %}
{% load static %}


{% block body %}

<!-- Donations Start -->
<div class="container-fluid donations py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
            <h4 class="text-primary">Support a Cause</h4>
            <h1 class="display-5 mb-4">Make a Difference Today</h1>
            <p class="mb-0">Your generous donations can help provide essential menstrual products to underprivileged girls. Choose a donation plan and help us bring positive change to those in need.</p>
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="donation-item bg-light rounded text-center">
                    <div class="text-center text-dark border-bottom d-flex flex-column justify-content-center p-4" style="width: 100%; height: 160px;">
                        <p class="fs-2 fw-bold text-uppercase mb-0">Basic Donation</p>
                        <div class="d-flex justify-content-center">
                            <strong class="align-self-start">Ksh</strong>
                            <p class="mb-0"><span class="display-5">5,000</span>/month</p>
                        </div>
                    </div>
                    <div class="text-start p-5">
                        <p><i class="fas fa-check text-success me-1"></i> Support for 5 students with menstrual products for a year</p>
                        <p><i class="fas fa-check text-success me-1"></i> Basic hygiene kits</p>
                        <p><i class="fas fa-times text-danger me-1"></i> Monetary aid for hospitals</p>
                        <p class="mb-4"><i class="fas fa-times text-danger me-1"></i> Special recognition</p>
                        <button class="btn btn-outline-primary rounded-pill py-2 px-5" type="button">Donate Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="donation-item bg-light rounded text-center">
                    <div class="donation-item-offer">Popular</div>
                    <div class="text-center text-primary border-bottom d-flex flex-column justify-content-center p-4" style="width: 100%; height: 160px;">
                        <p class="fs-2 fw-bold text-uppercase mb-0">Standard Donation</p>
                        <div class="d-flex justify-content-center">
                            <strong class="align-self-start">Ksh</strong>
                            <p class="mb-0"><span class="display-5">10,000</span>/month</p>
                        </div>
                    </div>
                    <div class="text-start p-5">
                        <p><i class="fas fa-check text-success me-1"></i> Support for 15 students with menstrual products for a year</p>
                        <p><i class="fas fa-check text-success me-1"></i> Advanced hygiene kits</p>
                        <p><i class="fas fa-check text-success me-1"></i> Contribute to hospitals menstrual facilities</p>
                        <p><i class="fas fa-check text-success me-1"></i> Reports</p>
                        <p class="mb-4"><i class="fas fa-times text-danger me-1"></i> Personalized acknowledgment</p>
                        <button class="btn btn-outline-primary rounded-pill py-2 px-5" type="button">Donate Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="donation-item bg-light rounded text-center">
                    <div class="text-center text-secondary border-bottom d-flex flex-column justify-content-center p-4" style="width: 100%; height: 160px;">
                        <p class="fs-2 fw-bold text-uppercase mb-0">Premium Donation</p>
                        <div class="d-flex justify-content-center">
                            <strong class="align-self-start">Ksh</strong>
                            <p class="mb-0"><span class="display-5">20,000</span>/month</p>
                        </div>
                    </div>
                    <div class="text-start p-5">
                        <p><i class="fas fa-check text-success me-1"></i> Support for 30 students with menstrual products for a year</p>
                        <p><i class="fas fa-check text-success me-1"></i> Hygiene kits and counseling services</p>
                        <p><i class="fas fa-check text-success me-1"></i> Major hospital contributions</p>
                        <p class="mb-4"><i class="fas fa-check text-success me-1"></i> Special recognition and reports</p>
                        <button class="btn btn-outline-primary rounded-pill py-2 px-5" type="button">Donate Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Donations End -->
{% endblock %}